.card_title {
  width: 100%;
  font-size: 43px;
  font-family: var(--title_text);
  color: var(--color_title_text);
  text-align: center;
  margin-top: 5rem;
}

.card-container{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 16rem;
  width: 17rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: var(--color1);
  color: beige;
}

.card img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h3{
  font-family: system-ui;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 5px;
}

.card p {
  font-family: system-ui;
  font-size: 1rem;
  text-align: left;
  padding: 10px 16px 10px 15px;
  line-height: 1.2rem;
}

.links-container{
  display: flex;
  align-items: center;
  justify-content: end;
}

svg{
  fill: beige;
  font-size: 1.7rem;
}

#link {
  text-decoration: none;
  align-self: flex-end;
  font-family: system-ui;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 15px;
  color: var(--color1);

  background-color: beige;
  border-radius: 15px;
  padding: 7px;
}

.links-container a:hover{
  transform: scale(1.1);
  transition: .5s;
}