
.presentacion{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentacion_recuadro{
    width: 90%;
    height: 85vh;
}


.presentacion_recuadro h1{
    /* color: beige; */
    color: var(--background_1);
    font-size: 4rem;
    font-family: var(--title_text);
}

.presentacion_recuadro h2{
    padding-top: 15px;
    color: beige;
    font-size: 2.3rem;
    font-family: var(--text);
    font-weight: 400;
}